name: Docker Image CI

on:
  push:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 11
        
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      
    - name: Grant Permissions to gradlew
      run: chmod +x gradlew
    
    - name: Execute Gradle build
      run: ./gradlew build

    - name: Build the Docker image
      run: docker build --tag jerrioh/github-action-demo .
